<div class="card">
  <div class="card-block">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <div class="card">
            <img class="card-img-top" width= "100%" src="https://raw.githubusercontent.com/mattbeevor/gloves/master/src/assets/{{glove.code}}.gif" alt="Card image cap">
            <div >
              <p class="card-text centretext" >  {{glove.code}}</p>
            </div>
          </div>
        </div>
        <div class="col-10">
          <h6 class="card-subtitle mb-2 text-muted">{{glove.code}}</h6>
          <h4 class="card-title">{{glove.name}}</h4>
          <p class="card-text">{{glove.description}}</p>
          <h6 class="card-text"><span class="bold">Sterile:</span><span>{{glove.Sterile}}</span><span class="bold">Colour: </span><span>{{glove.colour}}</span></h6>
          <h6 class="card-text"><span class="bold">Length:</span><span>{{glove.Length}}</span><span class="bold">Material: </span><span>{{glove.material}}</span></h6>
        </div>
      </div>
    </div>
  </div>
</div>