<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="spacer">
      </div>
      <div *ngFor="let gloveMaterial of gloveMaterials">
        <input type="checkbox" [(ngModel)]="gloveMaterial.selected" /> {{gloveMaterial.name}}
      </div>
      <br>
      <div *ngFor="let gloveColour of gloveColours">
        <input type="checkbox" [(ngModel)]="gloveColour.selected" />{{gloveColour.name}}
      </div>
    </div>
    <div class="col-8">
      <div class="spacer">
      </div>
      <div *ngFor="let glove of gloves | gloveMaterial: selectedGloveMaterials | gloveColour: selectedGloveColours">
        <app-list-item [glove]="glove" [code]="glove.code">
        </app-list-item>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>